body {
	background: #fff;
	font-size: 10px;
	font-family: Arial;
}

#flc-image-adjuster-container {
	position: relative;
}

#flc-image-adjuster-container label {
	display: block;
	margin: .3em 0;
	color: #fff;
	font-size: 1.4em;
}

#flc-image-adjuster-container ul {
	list-style-type: none;
	padding: 0;
}

#flc-image-adjuster-container ul li {
    display: inline-block;
}

#flc-image-adjuster-container ul li a {
	display: block;
    background: #969696;
	border: 1px #85B466 solid;
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
	padding: .8em 0;
	width: 13em;
	margin: .1em;
	text-align: center;
	cursor: pointer;
}

#flc-image-adjuster-container ul li a:hover, #flc-image-adjuster-controls a:hover, #flc-image-adjuster-container ul li a:focus {
	background: #85B466;
}

#flc-image-adjuster-controls #flc-image-adjuster-apply-btn:hover, 
#flc-image-adjuster-controls #flc-image-adjuster-cancel-btn:hover, 
#flc-image-adjuster-controls #flc-image-adjuster-apply-btn:focus, 
#flc-image-adjuster-controls #flc-image-adjuster-cancel-btn:focus {
    background: #FFFF66;
}


#flc-image-adjuster-controls {
	background: #85B466;
	float: left;
	clear: both;
	padding: 0 1em 1.3em 1em;
	font-size: 1.6em;
	position: absolute;
	top: 4em;
	display: none;
}

#flc-image-adjuster-brightness-controls, 
#flc-image-adjuster-contrast-controls,
#flc-image-adjuster-rotate-controls,
#flc-image-adjuster-threshold-controls {
  display: none;
}

#flc-image-adjuster-controls input {
	border: 1px #000 solid;
	clear: both;
	float: left;
	font-size: 1.6em;
	margin-right: .3em;
    width: 6.2em;
	text-align: center;
}

#flc-image-adjuster-controls fieldset {
	border: 0;
	margin: .6em 0;
	padding: 0;
}

#flc-image-adjuster-apply-btn, #flc-image-adjuster-cancel-btn {
	background: #fff;
    border: 1px solid #000000;
    clear: both;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: 0.4em;
    padding: 0.2em;
}

a.shortcuts-link {
    font-size: 2em;
    color: #88B569;
    text-decoration: none;
    font-weight: bold;
    text-align: right;  
}

#flc-image-adjuster-shortcut-menu {
    background: #fff;
    border: 1px #000 solid;
    font-size: 2em;
    width: 20em;
    float: right;
    display: none;
    position: absolute;
    left: 22em;
    top: 4em;
}

#flc-image-adjuster-shortcut-menu h2 {
    background: #85B466;
    margin: 0;
}

#flc-image-adjuster-shortcut-menu h3 {
    margin: 0;
    padding: 0;
    clear: both;
    float: left;
}

#flc-image-adjuster-shortcut-menu span.shortcut {
    font-family: Courier;
    float: right;
}
