
body {
    background: #fff;
    font-family: Arial;
    font-size: 10px;
}
#flc-image-adjuster-container a {
    text-decoration: none;
    color: #88B569;
}
#flc-image-adjuster-container {
    position: relative;
}
#flc-image-adjuster-container label {
    color: #fff;
    display: block;
    font-size: 1.4em;
    margin: .3em 0;
}
#flc-image-adjuster-container ul {
    list-style-type: none;
    padding: 0;
}
#flc-image-adjuster-container ul li {
    display: inline-block;
}
#flc-image-adjuster-container ul li a {
    background: #969696;
    border: 1px #85B466 solid;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    margin: .1em;
    padding: .8em 0;
    text-align: center;
    width: 13em;
}
#flc-image-adjuster-container input:focus, #flc-image-adjuster-container input:hover {
    background: #FFFF66;
}
#flc-image-adjuster-container ul li a:hover, #flc-image-adjuster-controls a:hover, #flc-image-adjuster-container ul li a:focus {
    background: #85B466;
}
#flc-image-adjuster-controls #flc-image-adjuster-apply-btn:hover, 
#flc-image-adjuster-controls #flc-image-adjuster-cancel-btn:hover, 
#flc-image-adjuster-controls #flc-image-adjuster-apply-btn:focus, 
#flc-image-adjuster-controls #flc-image-adjuster-cancel-btn:focus {
    background: #FFFF66;
}
#flc-image-adjuster-controls {
    background: #85B466;
    clear: both;
    display: none;
    float: left;
    font-size: 1.6em;
    padding: 0 1em 1.3em 1em;
    position: absolute;
    top: 4em;
}
#flc-image-adjuster-brightness-controls, 
#flc-image-adjuster-contrast-controls,
#flc-image-adjuster-rotate-controls,
#flc-image-adjuster-threshold-controls {
    display: none;
}
#flc-image-adjuster-controls input {
    border: 1px #000 solid;
    clear: both;
    float: left;
    font-size: 1.6em;
    margin-right: .3em;
    text-align: center;
    width: 6.2em;
}
#flc-image-adjuster-controls fieldset {
    border: 0;
    margin: .6em 0;
    padding: 0;
}
#flc-image-adjuster-apply-btn, #flc-image-adjuster-cancel-btn {
    background: #fff;
    border: 1px solid #000000;
    clear: both;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: 0.4em;
    padding: 0.2em;
}
a.shortcuts-link {
    color: #88B569;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
}
#flc-image-adjuster-shortcut-menu {
    background: #fff;
    border: 1px #000 solid;
    bottom: 4em;
    display: none;
    float: right;
    font-size: 2em;
    left: 4em;
    position: absolute;
    width: 20em;
}
#flc-image-adjuster-more-menu {
   background: #fff;
   border: 1px #000 solid;
   display: none;
   font-size: 2em;
   left: 4em;
   padding: 1em 2em;
   position: absolute;
   top: 4em;
}
#flc-image-adjuster-shortcut-menu h2 {
    background: #85B466;
    margin: 0;
}
#flc-image-adjuster-shortcut-menu h3 {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
}
#flc-image-adjuster-shortcut-menu span.shortcut {
    float: right;
    font-family: Courier;
}
